@page "{id:Guid}"
@model RazorProject.Pages.Books.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}


<form method="post">

<h1 class="mb-3">Edit Book</h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" asp-for="EditBookViewModel.Title"  />
</div>

<div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" asp-for="EditBookViewModel.Author" />
</div>

<div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" asp-for="EditBookViewModel.Price" />
</div>

<div class="mb-3">
    <label class="form-label">Release Date</label>
    <input type="date" class="form-control" asp-for="EditBookViewModel.ReleaseDate" />
</div>

<div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" asp-for="EditBookViewModel.Description" />
</div>

<div class="mb-3">
    <button type="submit" class="btn btn-primary">
        Update
    </button>
</div>

</form>